 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif SC', serif;
}

.navbar-transparent {
   background-color: transparent;
}

.navbar {
    transition: background-color linear 250ms;
}

.cover-container {
    position: relative;
    text-align: center;
    color: #888
}

.cover-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.background-colour-primary {
    /* color: #FFF; */
    background-color: #55198b;
}

.colour-primary {
    /* color: #FFF; */
    color: #55198b;
}

/* .colour-primary, .colour-primary a {
    color: #C0b283 !important;
    background-color: #f4f4f4;
}  */

@font-face {
    font-family: Brotherpoll;
    src: url('../fonts/Brotherpoll-Italic.otf');
}

.signature {
    font-family: Brotherpoll;
}

.font-size-2x {
    font-size: 2em;
}

.font-size-5x {
    font-size: 5em;
}