body {
    font-family: 'Roboto', serif;
	background-color: grey;
}

h1 {
    color: black;
}

/* Header */
header li {
	float: left;
	font-size: 20px;
	padding: 10px;
}

.logo {
	float: left;
	font-size: 40px;
}

/* Footer */
footer {
    background-color: grey;
}

footer h1 {
    float: right;
    font-size: 20px;
}
footer img {
    width: 30px;
    height: 30px;
    float: right;
    padding-left: 5px;
}

#new-footer {
	background-color: grey;
}

.stopfloat {
	clear: left;
}
