<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
        <title>Daniel Winfield</title>
    </head>
    <body>
        <div id="app">
            <header>
                <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top navbar-transparent">
                    <a class="navbar-brand" href="#">{{ fullName }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" v-for="link in socialLinks">
                                <a class="nav-link" v-bind:href="link.url" target="_blank"><i :class="link.iconClass" class="fab" style="font-size: 1.5em;"></i :class="link.iconClass"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main>
                <div>
                    <img style="width: 100%;" v-bind:src="headerImageUrl" alt="abstract header image" />
                    <div class="cover-center">
                        <h1 class="cover-heading">{{ fullName }}</h1>
                        <p class="lead">{{ jobTitle }}</p>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <!-- <div class="col-md-5">
                            <img v-bind:src="about.photoUrl" style="width: 100%;" alt="photograph of face" />
                        </div> -->
                        <div class="col-md-12">
                            <h2>{{ about.title }}</h2>
                            {{ about.description }}                      
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>{{ workExperience.title }}</h2>
                            <div v-for="item in workExperience.items">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img :src="item.imageUrl" style="width: 100%;"/>
                                    </div>                                    
                                    <div class="col-md-10">
                                        <p><span class="h5">{{ item.company }}</span> <span style="float:right;" class="text-muted"><i class="fas fa-map-marked-alt"></i> {{ item.location }}</span></h5>
                                        <div v-for="position in item.positions">
                                            <p class="mb-2">{{ position.jobTitle }} <span style="float:right;" class="text-muted">{{ months[position.startDate.getMonth()] + ' ' + position.startDate.getFullYear() }} - {{ position.endDate ? months[position.endDate.getMonth()] + ' ' + position.endDate.getFullYear() : 'Present' }}</span></p>
                                            <p>{{ position.description }}</p>
                                        </div>                                        
                                    </div>    
                                </div>                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>{{ education.title }}</h2>
                            <div v-for="item in education.items">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img :src="item.imageUrl" style="width: 100%;"/>
                                    </div>
                                    <div class="col-md-10">
                                        <p><span class="h5">{{ item.institution }}</span> <span style="float:right;" class="text-muted"><i v-if="item.location" class="fas fa-map-marker-alt"></i> {{ item.location }}</span></h5>
                                        <div v-for="qualification in item.qualifications">
                                            <p class="mb-2">{{ qualification.qualification }} <span style="float:right;" class="text-muted">{{ qualification.startDate ? qualification.startDate.getFullYear() + ' - ' : '' }}{{ qualification.endDate.getFullYear() }}</span></p>
                                            <p>{{ qualification.info }}</p>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            
                        </div>
                    </div>
                </div>
            </main>
            <footer>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>