<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1">
        <script src="node_modules/vue/dist/vue.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet"> 
        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/print.css" rel="stylesheet" media="print">
        <link href="node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
        <title>Daniel Winfield</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/site.webmanifest">
    </head>
    <body>
        <div v-cloak id="app">
            <header>
                <nav id="navbar" class="navbar navbar-expand-sm navbar-dark fixed-top gradient-colour-primary hidden">
                    <a class="navbar-brand signature font-size-2x" href="#">{{ fullName }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" v-for="link in socialLinks">
                                <a class="nav-link" v-bind:href="link.url" :title="link.title" target="_blank"><i :class="link.iconClass" class="" style="font-size: 1.5em;"></i :class="link.iconClass"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main>
                <div>
                    <div class="heading">
                        <h1 class="colour-primary signature font-size-5x">{{ fullName }}</h1>
                        <p class="lead">{{ jobTitle }}</p>
                        <div class="social-links">
                            <a class="colour-primary pl-2 pr-2" v-for="link in socialLinks" v-bind:href="link.url" :title="link.title" target="_blank"><i :class="link.iconClass" class="" style="font-size: 1.5em;"></i :class="link.iconClass"></a>
                        </div>
                    </div>
                </div>

                <div class="container mt-5">
                    <div class="row about" id="About">
                        <div class="col-md-12">
                            <h2 class="text-center">{{ about.title }}</h2>
                            <div class="shadow p-3 mb-5 bg-white rounded">
                                {{ about.description }}
                            </div>                      
                        </div>
                    </div>

                    <div class="row skills" id="Skills">
                        <div class="col-12 mb-5">
                            <h2 class="text-center">{{ skills.title }}</h2>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <h3 class="text-center">{{ skills.languages.title }}</h3>
                                    <div style="text-align: center;">                                    
                                        <div v-for="item in skills.languages.items" class="m-1" style="font-size: 1.5em; display: inline-block;">
                                            <skill-item class="pull-left" v-bind:item="item"></skill-item>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <h3 class="text-center">{{ skills.tools.title }}</h3>
                                    <div style="text-align: center;">
                                        <div v-for="item in skills.tools.items" class="m-1" style="font-size: 1.5em; display: inline-block;">
                                            <skill-item class="pull-left" v-bind:item="item"></skill-item>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-12 d-print-none">
                                    <h3 class="text-center">{{ skills.platforms.title }}</h3>
                                    <div style="text-align: center;">
                                        <div v-for="item in skills.platforms.items" class="m-1" style="font-size: 1.5em; display: inline-block;">
                                            <skill-item class="pull-left" v-bind:item="item"></skill-item>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>    
                    <div class="row projects" id="Projects">
                        <div class="col-lg-12 mb-3">
                            <h2 class="text-center">{{ projects.title }}</h2>
                            <div class="shadow p-3 bg-white rounded mb-3 col-12 col-lg-6" v-for="item in projects.items">
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <span class="h5">{{ item.name }}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <img :src="item.imageUrl" style="width: 100%;"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {{ item.description }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-outline-secondary badge-pill" style="width: 100%;" target="_blank" :href="item.projectUrl">View project</a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-outline-secondary badge-pill" style="width: 100%;" target="_blank" :href="item.codeUrl">View code</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                

                    <!-- <div class="row">
                        <div class="col-lg-6 employment" id="Employment">
                            <div class="mb-3">
                                <h2 class="text-center">{{ workExperience.title }}</h2>
                                <div class="shadow p-3 bg-white rounded mb-3" v-for="item in workExperience.items">
                                    <employment-item v-bind:item="item" v-bind:months="months"></employment-item>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 education" id="Education">
                            <div class="mb-3">
                                <h2 class="text-center">{{ education.title }}</h2>
                                <div class="shadow p-3 bg-white rounded mb-3" v-for="item in education.items">
                                    <qualification-item v-bind:item="item"></qualification-item>    
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </main>
            <footer>
                <div class="footer gradient-colour-primary">
                    <span>© {{ new Date().getFullYear() }}, {{ fullName }}.</span>
                </div>
            </footer>
        </div>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>