<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="/assets/node_modules/vue/dist/vue.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet"> 
    <link href="/assets/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <title>Daniel Winfield {% if page.title %} | {{ page.title }}{%- endif -%}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">    
  </head>