<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div v-cloak id="app">
        {%- include header.html -%}

        <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
        </main>

        {%- include footer.html -%}
    </div>
    <script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/code.js" type="text/javascript" charset="utf-8"></script>
  </body>

</html>